*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
}

h1{
    text-align: center;
}
.user-page{
    min-height: 100vh;
    background-color: #f2f2f2;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.user-info{
    min-height: 25vmin;
    align-items: center;
    justify-content: center;
}
.user-buttons{
    min-height: 25vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:10px;
}
.file-input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.avatar{
    width:20vmin;
    min-height: 20vmin;
    border: 2px solid black;
    border-radius: 100px;
}
.icon{
    width:20vmin;
    min-height: 20vmin;
    overflow: hidden;
}

.form{
    margin-top: 100px;
}

.form-group{
    width:100%;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #f2f2f2;
    padding-top: 55px;
    outline: none;
}
.input-label{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0%;
    border-bottom: 1px solid black;
    pointer-events: none;
}
.input-label::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -1px;
    left: 0px;
    border-bottom: 3px solid #5fa8d3;
    transform: translate(-100%);
    transition: transform 0.3s ease;
}

.input-text{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.input:focus + .input-label .input-text,
.input:valid + .input-label .input-text
{
    transform: translateY(-150%);
    outline: none;
}
.input:focus + .input-label::after,
.input:valid + .input-label::after
{
    transform: translateX(0%);
}
