.dare_page {
    position: relative;
}

.dare_page form , .delete_btn{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
}

.details, .videos {
    width: 100%;
    min-height: 300px;
}

.details h2, .videos h2 {
    margin-bottom: 15px;
    border-bottom: 2px solid black;
}

.video_wraper{
    display: flex;
    flex-direction: column;
}

.user_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img_wrap {
    position: relative;
    height: 6vmin;
    width: 6vmin;
    display: inline-block;
}

.friend_icon {
    cursor: pointer;
    width: 100%;
    min-height: 6vmin;
}
.video_panel{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.video_description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.vote{
    width: 25%;
}